@model QueryResultModel
@{
    ViewData["Title"] = "QueryExecute";
}

<h1>Query Execute</h1>

<form asp-area="DataWarehouse" asp-controller="Data" asp-action="ExportCSV" method="post" asp-route-query=@Model.Query>
    <button type="submit" class="btn btn-primary">Export CSV</button>
</form>

<div class="table-responsive">
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                @foreach (HomeServer.Utility.SQLiteColumn column in Model.Columns)
                {
                    <th scope="col">
                        <div>@column.Name</div>
                    </th>
                }
            </tr>
        </thead>
        <tbody>
            @foreach (List<string> row in Model.Rows)
            {
                <tr>
                    @foreach (string item in row)
                    {
                        <td>@item</td>
                    }
                </tr>
            }
        </tbody>
    </table>
</div>