@model QueryResultModel
@{
    ViewData["Title"] = "QuerySubmit";
}

<link rel="stylesheet" href="~/Areas/DataWarehouse/css/tables.css" />

<h1>Query Submit</h1>

<table>
    <thead>
        <tr>
            @foreach (HomeServer.Utility.SQLiteColumn column in Model.Columns)
            {
                <th scope="col">
                    <div>@column.Name</div>
                </th>
            }
        </tr>
    </thead>
    <tbody>
        @foreach (List<string> row in Model.Rows)
        {
            <tr>
                @foreach (string item in row)
                {
                    <td>@item</td>
                }
            </tr>
        }
    </tbody>
</table>