@model TablesModel
@{
    ViewData["Title"] = "Tables";
}

<h1>Tables</h1>

<ul>
    @foreach ((string, string) table in Model.TablesList)
    {
        <li><a asp-area="DataWarehouse" asp-controller="Data" asp-action="EditTable" asp-route-tableName=@table.Item1>@table.Item1</a></li>
    }
</ul>