@model TablesModel
@{
    ViewData["Title"] = "Tables";
}

<h1>Tables</h1>

<div class="list-group">
    @foreach ((string, string) table in Model.TablesList)
    {
        <a asp-area="DataWarehouse" asp-controller="Data" asp-action="EditTable" asp-route-tableName=@table.Item1 class="list-group-item list-group-item-action">@table.Item1</a>
    }
</div>